/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
/* /RESET */

/* GRID (MACRO STRUCTURE) */
body {
    display: grid;
    grid-gap: 20px; /* Short-hand para grid-column-gap e grid-row-gap*/
    grid-template-columns: 20% auto auto auto;
    grid-template-rows: 220px auto 80px;
    align-content: space-between;
}
header {
    grid-area: 1 / 1 / span 4 / span 4;
}
aside {
    grid-area: 2 / 1 / 2 / 2;
}
main {
    grid-area: 2 / 2 / span 4 / 2;
}
footer {
    grid-column-start: 1;
    grid-column-end: 4;
}
/* /GRID (MACRO STRUCTURE) */