/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
/* /RESET */