/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
p,
li {
    font-size: 16px;
}
/* /RESET */

/* GRID (MACRO STRUCTURE) */
body {
    display: grid;
    grid-gap: 20px; /* Short-hand para grid-column-gap e grid-row-gap*/
    grid-template-columns: 25% auto;
    grid-template-rows: 220px auto 80px;
    align-content: space-between;
}
header {
    grid-area: 1 / 1 / 1 / span 2;
}
aside {
    grid-area: 2 / 1 / 2 / 2;
}
main {
    grid-area: 2 / 2 / 2 / 2;
}
footer {
    grid-column-start: 1;
    grid-column-end: 3;
}
/* /GRID (MACRO STRUCTURE) */

/* FLEXBOX (MICRO STRUCTURE) */
header div {
    display: flex;
    flex-flow: row wrap; /* Short-hand para flex-direction e flex-wrap */
    justify-content: space-between;
    align-items: center;
}
header div h1 {
    flex: 1 0 100%;
}
header div img {
    flex: 0 1 150px;
}
header div ul {
    flex: 0 1 auto;
    align-self: flex-start;
}
aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow-x: hidden; /* Esconde o que sobra das imagens */
}
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}
main section {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}
main section:last-child {
    flex-flow: column nowrap;
}
main section h3 {
    flex: 1 1 100%;
}
main section article {
    flex: 1 1 50%;
}
main section:last-child h3 {
    flex: 1 1 auto;
}
main section:last-child div {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
}
main section:last-child div article {
    flex: 0 1 30%;
}
footer {
    display: block; /* Nesse caso não há necessidade de usarmos flexbox */
}
/* /FLEXBOX (MICRO STRUCTURE) */

/* LAYOUT STYLE */
header {
    padding: 20px;
    filter: drop-shadow(0 2px 2px rgb(0, 0, 0, .25)); /* Quando usamos números decimais com o número inteiro 0, não é necessário declarar o 0 */
}
header h1 {
    text-align: center;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
aside {
    background-color: #eee;
    padding-right: 20px;
    border-radius: 0 20px 20px 0;
}
aside h2 {
    padding: 20px;
}
aside h3,
aside p {
    padding: 0 20px;
}
aside div:nth-child(even) {
    max-height: 100vh;
    overflow-y: scroll; 
    margin: 20px auto;
}
aside div:nth-child(even)::-webkit-scrollbar {
    width: 0.8em;
}

aside div:nth-child(even)::-webkit-scrollbar-track {
box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
border-radius: 0.4em;
}

aside div:nth-child(even)::-webkit-scrollbar-thumb {
background-color: rgb(27, 96, 141);
outline: 1px solid rgb(13, 39, 66);
border-radius: 0.4em;
}
main {
    padding-left: 20px;
}
main h2,
main h3 {
    color: rgb(27, 96, 141);
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
}
main article {
    padding: 20px;
}
main article img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 5px solid rgb(27, 96, 141);
    transition: filter 0.8s ease-in-out;
}
main article img:hover {
    filter: grayscale(0.6);
}
main article h4 {
    margin: 10px auto;
    font-size: 1.5em;
    line-height: 1.8em;
}
main article div{
    margin: 10px auto;
}
main article div span {
    font-style: italic;
    font-weight: 400;
}
main article a:last-child {
    background-color: rgb(27, 96, 141);
    color: white;
    font-weight: bolder;
    height: 50px;
    line-height: 40px;
    vertical-align: middle;
    margin: 10px auto;
    float: right;
    padding: 5px 15px;
    border-radius: 25px;
    transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}
main article a:last-child:hover {
    background-color: #eee;
    color: rgb(27, 96, 141);
}
footer {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
/* /LAYOUT STYLE */